@use "variables" as v;

footer{
    height: 5vh;
    margin: 3vw;
    display: flex;
    align-items: center;
    .redes ul{
        display: flex;
        align-items: anchor-center;
    }
    .logo-footer{
        margin: 3vw;
        height: 8vh;
        width: 8vh;
    }
    
    }
    .logo-footer-ig{
        margin: 5vw;
        height: 12vh;
        width: 12vh;
    }
    h2{
        font-size: 20px;
    }
    ul{
        list-style: none;
    }
    a{
        text-decoration: none;
    }

@media (max-width: 430px){
    footer{
        margin-top: 3vh;
        height: 5vh;
        margin: 5vh;
        display: flex;
        align-items: center;
    }
    .titulo2{
      margin: 0;
      font-size: 1rem;
    }
    .redes .ul{
         margin: 0;
    }
}
