@use "variables" as v;


.main-galeria{
   
   display: flex;
   flex-flow:row wrap ;
   justify-content: center;
   
   h2{
   font-size: 20px;
   }
   .img{
   margin: 20px;
   height: auto;
   width: 40vw; 
   border-radius: 10px;
   }
}
   @media (max-width: 430px){
      .body{
      padding: 8px;
      display: flex;
      flex-direction: column;
      align-content: center;
      }
      .img{
      height: 40vh;
      width: auto;
      }
      .titulo2{
         margin: 0;
      font-size: 1rem;
      }
      .redes .ul{
         margin: 0;
      }
   }
   @include v.tablet{
      .galeria-img{
         display: flex;
         justify-content: center;
         width: 70vw;
         height: auto;
      }
   }