@use "variables" as v;

main{
   background-color: #ddddddb6;
   display: flex;
   flex-flow:row wrap ;
   justify-content: center;
   }
   .img{
   margin: 20px;
   height: 80vh;
   width: auto;
   border-radius: 10px;
   }
   p{
      margin: 3vw;
      margin-top: 3vh
   }
    @media (max-width: 430px){
      .body-home{
      padding: 8px;
      display: flex;
      flex-direction: column;
      }
      .header-home{
      flex-direction: row;
      justify-content: space-around;
      }
      .barradepaginas li{
      margin: 0%;
      font-size: 0.75rem;
      }
      .titulo{
      display: none;
      }
      .ul{
      height: auto;
      width: 50vw;   
      }
      .main-home{
      margin-top: 25px;
      }
      .img{
      height: 40vh;
      width: auto;
      }
      .titulo2{
         margin: 0;
      font-size: 1rem;
      }
      .redes .ul{
         margin: 0;
      }
    }