$fuente:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$colorPrimario: #333131;
$colorSecundario: #acacaa;
$colorTerciario: #acacaa79;
$colorCuaternario: #ddddddb6;

*{
    font-family: $fuente;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: $colorSecundario;
}
@mixin tablet{
    @media (min-width: 430px) and (max-width: 768px) {
        @content
    }
}